TOKEN="Get Your telegram bot token"
PORT=4005
FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:4005"
MONGODB_URI='Mongobd uri for cloud db'
# Or just add the cookies file in the root
YTDLP_COOKIES_PATH=

